html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,#root{
  height:100vh;
  margin:0;
  font-size:1.6rem;
  font-family: 'Times New Roman', Times, serif;
}
.grid-container{
  display:grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height:100vh
}
header{
  grid-area: header;
  background-color:aquamarine;
  display:flex;
  align-items: center;
  padding: 10px;
  font-size:2rem
  


}
header a{
  color:black;
  text-decoration: none;
  font-family: cursive;
  font-weight:bold
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color:black;
  color:aliceblue;
  display:flex;
  align-items: center;
  justify-content:center;

}
.content{
  display:flex;
  flex-wrap: wrap;
}
.main{
  flex:3 60rem;
}
.sidebar{
  flex:1 20rem
}